@import url(./fonts.css);
@import url(./fontello.css);

/* 기본 글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #000;
  /* background-color: #ccc; */
  background: url(./images/bg_flower.png) no-repeat 50% /* <-x좌표 */ 0 /* <-Y좌표 */,
  linear-gradient(to bottom, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
  background-color: #ccc; /* 대표속성에 넣어도 되지만 멀티 배경 사용 시 따로 선언해주는게 좋다 */
}

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute; /* top -9999px로 진행 시 리더기가 상단으로 튀는 현상 발생(있는 위치를 찾기 위해) */
  width: 1px;
  height: 1px; /* 기본적인 크기가 있어야 리더기가 읽을 수 있기 때문에 0으로 진행 시 못 읽음 */
  overflow: hidden;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0); /* 구형에 안돌아감(구형은 clip)xy좌표를 모두 0으로 만들어 안보이게끔 */
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 박스 사이징 재정의 */
body *, body *::before, body *::after {
  box-sizing: border-box;
}

/* 클래스 모듈 */
.normal-style{
  font-style: normal;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  /* 클리어픽스: display:flow-root;는 익스에서 안먹기 때문에 clearfix를 이용해 배경 이미지 유지 */
}

.gradient-effect {
  border: 1px solid #aaa;
  border-radius: 5px;
  background: linear-gradient(#ccc, #eee);
  background-color: #ccc;
}

.spacing-sm {
  padding: 10px;
}

.gap-top-md {
  margin-top: 20px;
}

.accent-color {
  color: #dd422a;
}

.headline {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

/* 건너뛰기 링크(키보드 사용시) */
.skip-nav {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: relative;
}

.skip-nav a {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: -1000px; /* 앱솔루트로 띄여버리고 밖으로 보냄 */
}

.skip-nav a:focus {
  outline-offset: -4px; /* 앵커 박스가 정상적으로 보임 */
  position: static;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 내려가지 않고 덮이는 코드(성능에 용이)
.skip-nav {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.skip-nav a {
  display: inline-block;
  padding: 10px;
  position: absolute;
} */

/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 20px 20px;
}

/* 로고 */
.logo {
  margin: 0;
  font-size: 1;
  position: absolute;
  top: 43px;
  left: 60px;
}

.logo a {
  display: block;
}

.logo img {
  vertical-align: top;
}

/* 멤버 서비스링크 */
.member-service {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size: 0; */ /* -----> li 사이 공백을 지우는 역할을 해줌 */
  text-align: right;
  /* margin-right: -10px; ----> 음수로도 이동이 가능하다 오른쪽으로 당김(성능 이슈있음)*/
  transform: translateX(10px); /* ---> 마지막 마진 라이트 0을 해도 되지만 앵커가 안됨 */
}

.member-service li {
  display: inline-block;
  /* font-size: 1rem; */
  padding: 4px 0; /* ----> 패딩을 a만 주는게 아니라 나눠서 주면 아웃라인 잘림 현상 없이 진행 */
  text-transform: uppercase;
}

.member-service a {
  display: inline-block;
  padding: 6px 10px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 35px;
}

.menu {
  border-top: 2px solid #000;
  height: 47px;
  background: #c15726 /* 대표속성/색상 나오고 그라디언트 적용 */ linear-gradient(to bottom, #F7972A 0%,#FC6914 32%,#FC6914 70%,#F7972A 100%);
  margin: 0;
  padding-left: 230px;
  list-style: none;
  border-radius: 0 0 5px 5px;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
  position: relative;
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  background: #000;
  height: 2px;
}

.menu-button {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0 23px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}

.is-active .sub-menu {
  display: block;
}

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute; /* 서브 메뉴가 크기를 같지 않게 하기 위해 띄여줌 */
  top: 47px;
  display: none;
  white-space: nowrap; /* 영역에 맞춰 줄바꿈이 이뤄지지 않도록 */
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 10px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:focus {
  outline: none;
}

.sub-menu a:hover, .sub-menu a:focus:hover {
  color: #f00;
}

.sub-menu a:hover::before, .sub-menu a:focus::before /* 키보드 운영시에도 변경되도록 포커스 추가 */ {
  content: "\e800";
}


/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgb(0, 0, 0, 0);
    /* padding: 0; 패딩, 마진(박스를 함께 포함하게됨)으로 가능하지만 리플로우 유발 position도 동일 */
    transform: translate(0,0); /* 있던 자리에서 이동하다보니 스크롤이 생겼기 때문에 생각해야됨 -> 독립적 이동이 필요 */
  }
  100% {
    font-size: 24px;
    color: rgb(0, 0, 0, 1);
    /* padding: 75px 0 0 400px; */
    transform: translate(400px,75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, 
  url(./images/ani_flower_02.png) no-repeat 600px 0;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px 0, 
  url(./images/ani_flower_04.png) no-repeat 800px 10px;
  animation-delay: 1000ms;
}
   
   /* 애니매이션을 어디에 먹게 할지 선언 */
.visual-text {
  position: relative;
  z-index: 10;
  font-family: Georgia, 'Times New Roman', Times, serif;
  c
  display: inline-block; /* 독립적 이동이 필요하기 때문에 추가됨 */
}

/* 메인 콘텐츠 */
/* flex를 이용한 메인콘텐츠 배치 */
/* .main {
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
} */

/* float을 활용한 메인콘텐츠 배치 */
.main {
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* .clearfix {
  clear: both;
} */

/* 로그인 */
.login {
  background: radial-gradient(circle at right top, #F7972A, #FC6914);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 10px;
}

.login-form fieldset {
  position: relative;
  padding: 0 0 4px 0;
  border: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #aaa;
}

.login-form {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-title {
  font-size: 1.5rem;
  counter-reset: #ff0;
  margin: 0 0 10px 10px;
  color: #ff0;
}

.login-form input {
  border: 1px solid #aaa;
  width: 90px;
  height: 22px;
  padding: 1px 4px 1px 4px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}

.login-form div {
  margin-bottom: 6px;
}

.button-login {
  background-color: #F7972A;
  border: 1px solid #FC6914;
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 3px;
}

.sign {
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
}

.sign a {
  font-size: 1.3rem;
  padding: 6px 0;
}

.sign .icon-right-open::before{
  color: #dd422a;
}

/* label {
  padding-right: 10px;
}

.button-login {
  float: right;
  border: 1px solid #c15726;
  background-color: #FC6914;
  color: #fff;
  border-radius: 6px;
  width: 50px;
  height: 50px;
} */

/* 유효성 검사 배너 */
.validation {
  margin-top: 25px; /* -->마진은 병합됨 */
}

.validation-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.validation-list li {
  margin-top: 10px;  /* -->마진은 병합됨 위 25px에 병합 */
}

.validation-list a {
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%, #ccc linear-gradient(to bottom, #ccc 0%, #ccc 30%, #fff 100%);
  border: 1px solid #aaa;
  border-radius: 30px;
  padding: 10px 10px 8px 45px;
}

.validation a:hover, .validation a:focus {
  color: red;
}

/* 웹관련 용어 */
.term {
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 10px 15px;
  margin-top: 20px;
}

.term-title {
  font-size: 1.5rem;
  margin: 0;  
}

.term-list {
  margin: 10px 0;
}

.term-list dd {
  margin-left: 0;
}

.term-list-inner {
  display: flow-root;
  margin-top: 10px;
}

.term-list-subject {
  float: right;
  width: 140px;
  color: #296897;
  font-weight: 500;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  vertical-align: top;
  /* 이미지의 공백을 지우기 위해서(top, middle 등 사용/아에 공통으로 img vertical-align을 설정하고 진행하기도함) */
}

.term-list-brief {
  float: right;
  margin-top: 5px;
  width: 140px;
}

.reverse .term-list-subject, .reverse .term-list-brief {
  float: left;
}

.reverse .term-list-thumbnail {
  float: right;
}

/* 검색 폼 */
.search-form {
  border: 1px solid;
  border-color: #aaa #aaa #fff #aaa;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
  background: #ccc linear-gradient(#ccc, #eee);
}

.search-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.search-input {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.search-form label {
  flex-shrink: 0;
  margin-right: 8px;
}

.search-form-inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search-form input {
  flex-grow: 1;
  width: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  padding: 2px 10px;
  appearance: none; /* s사파리에서는 라운드 값이 제대로 안먹히기 때문에 크로싱 브라우징을 위해/search 부분만 커스텀이 안됨 */
}

.button-search {
  background-color: #000;
  color: #fff;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 0 10px;
  margin-left: 8px;
}

/* 공지사항 및 자료실 */
.board{
  margin-top: 20px;
  position: relative;
  padding-top: 45px;
}

.board-list, .board-more{
  display: none;
}

.is-select .board-list, .is-select .board-more{
  display: block;
}

.board-tab{
  position: absolute;
  top: 0;
  border: 1px solid #aaa;
  padding: 6px 8px;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #666;
  cursor: pointer;
}

.is-select .board-tab{
  background: #fff;
  color: #dd422a;
  border-color: currentColor currentColor #fff currentColor;
}

.button-notice{
  left: 0;
}

.button-archive{
  left: 66px;
}

.board-list{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.board-list li{
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.board-list li:first-child{
  margin-top: 0;
}

.board-list a{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .board-list li:nth-child(n+2){
  background-color: teal;
} 선택자 지정, css는 0이 첫번째가 아니고 1일 첫번째 2번째 li부터 적용한다라는 뜻*/

.board-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.more::before{
  color: hsla(110, 50%, 30%, 1);
}


/* .board {
  position: relative;
  padding-top: 45px;
  margin-top: 20px;
  background-color: yellow;
}

.board-panel {
  background-color: pink;
}

.board-list .board-more {
  display: none;
}

.is-select .board-list, .is-select .board-more {
  display: block;
}

.board-tab {
  position: absolute;
  top: 0;
  border: 1px solid #aaa;
  padding: 6px 8px;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc #eee);
  color: #666;
}

.button-notice {
  left: 0;
}

.button-archive {
  left: 67px;
}/

.board-more {
  position: absolute;
  top: -8px;
  right: -8px; -----클릭을 위해 패딩을 넣어 그 만큼 땅겨준거
  padding: 8px;
}

.is-select .board-tab {
  background: #fff;
  color: #dd422a;
  border-color: #dd422a #dd422a #fff #dd422a;
  border-color: currentColor currentColor #fff currentColor; ->currentColor 폰트 컬러 변경 시 함께 변경 됨
}

.board-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #296897;
}

.board-more::before {
  color: hsla(110, 50%, 30%, 1);
} */


/* 새소식 */

.news{
  margin-top: 20px;
  position: relative;
}

.news::before{
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc linear-gradient(to right, #ccc, #fff);
}

.news-title{
  font-size: 1.5rem;
  margin: 0;
  color: #dd422a
}

.news-link{
  display: block;
}

.news-item{
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
  min-height: 110px;
}

.news-item-title{
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.news-item-title::before{
  content: "■ ";
}

.news-item-brief{
  margin: 10px 0 0 0;
  line-height: 1.5;
}

.news-item-thumbnail{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 0 #ccc;
}

.news-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}


/* 내가 너무 어렵게 생각했음
텍스트 부분이 딱 순서대로 되있어서 옆으로 밀고
썸네일만 올리면 됫었음 */

/* .news {
  display: flow-root;
  position: relative;
  margin-top: 20px;
  overflow: 0;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc linear-gradient(to right, #ccc 60%, #fff)
}

.news-title {
  font-size: 1.5rem;
  margin: 0;
  color: #dd422a;
}

.news-link {
  display: block;
}

.news-item {
  position: relative;
  margin-top: 35px;
  background-color: pink;
}

.news-item-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.news-item-date {
  background-color: salmon;
}

.news-item-brief {
  background-color: blueviolet;
}

.news-item-thumbnail {
  margin: 0;
}

.news-more {
  position: absolute;
  top: -8px;
  right: 8px;
  padding: 8px;
}

.news-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 5px 5px 0 0 #000;
}

.news-item-thumbnail figcaption {
  margin-top: 10px;
}

.news-item-title, .news-item-date, .news-item-brief {
  float: right;
  width: 250px;
} */ 

/* 신규이벤트 */
.event{
  border-bottom: 1px solid #999;
}

.event-title{
  float: left;
}

.event-button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  /* gap: 5px; ex에서는 적용이 안됨*/
}

/* .event-button-prev, .event-button-next */
.event-button button{
  width: 19px;
  height: 18px;
  padding: 0;
  border: 0;
  background: url(./images/back_forward.png);
}

.event-button-prev{
  margin-right: 5px;
}

.event-button-next{
  background-position: -36px 0;
}

.event-thumbnail, .event-brief{
  margin: 10px 0;
}

.event-thumbnail img{
  box-shadow: 5px 5px 0 0 #999;
}

/* 관련사이트 */

/* 내가 한거 / 타이틀이랑 버튼이 바로 있어 굳이 앱솔루트를 쓸 필요가 없어 float와 justify-content를 이용해 정렬
.event {
  position: relative;
}

button {
  cursor: pointer;
}

.event-button {
  position: absolute;
  top: 0;
  right: 0;
}

.event-button-prev {
  background: url(./images/back_forward.png) no-repeat 0;
  width: 19px;
  height: 18px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin-right: 5px;
  color: transparent;
  background-color: fuchsia;
}

.event-button-next {
  background: url(./images/back_forward.png) no-repeat -36px 0;
  width: 19px;
  height: 18px;
  overflow: hidden;
  border: 0;
  padding: 0;
  color: transparent;
  background-color: lightgreen;
} */


/* 관련 사이트 */
.related{
  padding-top: 10px;
}

.related-list{
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  transition: height 250ms, padding 250ms 250ms;
}

 /* 애니매이션 오버나 포커스가 시작이 아닌 끝나는 시점 */
.related-list:hover, .related-list:focus{
  height: 147px;
  padding: 10px 0;
}

.related-list li{
  height: 25px;
  padding: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.related-list a{
  /* display: block; */
  flex: 0 0 100%; /* ---> width 100% 줘도 됨 */
  padding: 0 15px;
}
/* 내가 한거
@keyframes moveEffect2 {
  0% {
    height: 27px;
    transform: translate(0,0);
  }
  100% {
    height: 135px;
    transform: translate(0,0);
  }
}

.related {
  padding-top: 10px;
}

.related-list {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 27px;
  overflow: hidden;
}

.related-list:hover { ------> 돌아갔을 때 문제가 생김, 오버는 끝나는 지점
  animation-name: moveEffect2;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.related-list a {
  display: block;
  padding: 5px 5px 5px 10px;
} */


/* 인기 사이트 transform과 flex 사용을 안하고 제작하기 */
.favorite{
  position: relative;
}

.favorite-list{
  margin-top: 10px;
}

.favorite-list li{
  counter-increment: number;
  margin-top: 8px;
  position: relative;
}

.favorite-list li::before{
  display: inline-block;
  content: counter(number);
  width: 16px;
  background: #aaa;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 1.3rem;
  color: #fff;
}

.up, .stop, .down{
  position: absolute;
  top: 50%;
  right: 0;
  width: 11px;
  height: 9px;
  margin-top: -5px; /* top 50으로 했을때 바로 센터가 아니기 때문에 마진으로 끌어올려준거 */
  background: url(./images/rank.png) no-repeat;
}

.stop{
  background-position: 0 50%;
}

.down{
  background-position: 0 100%;
}

.favorite-more{
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}


/* .favorite {
  position: relative;
  background-color: lightcoral;
}

.favorite-title {
  background-color: lightslategrey;
}

.favorite-list {
  width: 100%;
  margin-top: 10px;
  background-color: lightgreen;
}

.favorite-list li {
  margin-top: 4px;
}

.favorite-list li ::before {
  width: 14px;
  height: 14px;
  background-color: #999;
  color: #fff;
}

.favorite-more {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lime;
}

.up {
  width: 9px;
  height: 11px;
  background-position: 0 0;
  background: url(./images/rank.png);
} */


/* 슬로건 */
.slogan{
  position: relative;
  padding: 15px 80px 15px 180px;
}

.slogan-title{
  width: 110px;
  height: 83px;
  position: absolute;
  left: 35px;
  bottom: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-title::before{ /* ::before를  생성해 위에 하나 더 올리는걸로 */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* .slogan-title width, height를 그대로 유지한다는 것 */
  height: 100%;
  background: url(./images/coffee.png) no-repeat;
}

.slogan-content{
  color: #a09784;
  margin: 0;
}

.slogan-content q::before{
  font-size: 3rem;
  display: inline-block;
  transform: translateY(10px);
}

.slogan-content q::after{
  content: "";
}


/* .slogan {
  position: relative;
  background-color: yellow;
}

.slogan-title {
  width: 110px;
  height: 83px;
  background: url(./images/coffee.png) no-repeat;
  background-color: pink;
}

.slogan-content {
  position: absolute;
  left: 130px;
  top: 0;
}

.slogan-content q::before {
  content: "";
  display: block;
} */

/* 푸터 */
.footer {
  height: 10vh;
}