/* 기본 글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  color: #000;
  background-color: #ccc;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 박스 사이징 재정의 */
body *, body *::before, body *::after {
  box-sizing: border-box;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px;
}

/* 로고 */
.logo {
  margin: 0;
  font-size: 1;
  position: absolute;
  top: 45px;
  left: 60px;
}

.logo a {
  display: block;
}

.logo img {
  vertical-align: top;
}

/* 멤버 서비스링크 */
.member-service {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size: 0; */ /* -----> li 사이 공백을 지우는 역할을 해줌 */
  text-align: right;
  /* margin-right: -10px; ----> 음수로도 이동이 가능하다 오른쪽으로 당김(성능 이슈있음)*/
  transform: translateX(10px); /* ---> 마지막 마진 라이트 0을 해도 되지만 앵커가 안됨 */
}

.member-service li {
  display: inline-block;
  /* font-size: 1rem; */
  padding: 4px 0; /* ----> 패딩을 a만 주는게 아니라 나눠서 주면 아웃라인 잘림 현상 없이 진행 */
  text-transform: uppercase;
}

.member-service a {
  display: inline-block;
  padding: 6px 10px;
}

/* 비주얼 */
.visual {
  background-color: orange;
  height: 10vh;
}

/* 메인 콘텐츠 */
/* flex를 이용한 메인콘텐츠 배치 */
/* .main {
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
} */

/* float을 활용한 메인콘텐츠 배치 */
.main {
  background-color: blue;
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
}

.clearfix::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
  /* 클리어픽스의 마지막 요소를 블럭으로 만들어주기 */
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  background-color: pink;
  width: 250px;
}
.group2 {
  background-color: lime;
  width: 380px;
}
.group3 {
  background-color: salmon;
  width: 190px;
}

/* .clearfix {
  clear: both;
} */

/* 슬로건 */
.slogan {
  background-color: aqua;
  height: 10vh;
}

/* 푸터 */
.footer {
  background-color: purple;
  height: 10vh;
}