@import url(./fonts.css);
@import url(./fontello.css);

/* 기본 글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  color: #000;
  /* background-color: #ccc; */
  background: url(./images/bg_flower.png) no-repeat 50% /* <-x좌표 */ 0 /* <-Y좌표 */,
  linear-gradient(to bottom, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
  background-color: #ccc; /* 대표속성에 넣어도 되지만 멀티 배경 사용 시 따로 선언해주는게 좋다 */
}

/* 숨김 콘텐츠 */
.a11y-hidden {
  position: absolute; /* top -9999px로 진행 시 리더기가 상단으로 튀는 현상 발생(있는 위치를 찾기 위해) */
  width: 1px;
  height: 1px; /* 기본적인 크기가 있어야 리더기가 읽을 수 있기 때문에 0으로 진행 시 못 읽음 */
  overflow: hidden;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0); /* 구형에 안돌아감(구형은 clip)xy좌표를 모두 0으로 만들어 안보이게끔 */
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 박스 사이징 재정의 */
body *, body *::before, body *::after {
  box-sizing: border-box;
}

/* 건너뛰기 링크(키보드 사용시) */
.skip-nav {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: relative;
}

.skip-nav a {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: -1000px; /* 앱솔루트로 띄여버리고 밖으로 보냄 */
}

.skip-nav a:focus {
  outline-offset: -4px; /* 앵커 박스가 정상적으로 보임 */
  position: static;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 내려가지 않고 덮이는 코드(성능에 용이)
.skip-nav {
  background-color: #000;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.skip-nav a {
  display: inline-block;
  padding: 10px;
  position: absolute;
} */

/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 20px 20px;
}

/* 로고 */
.logo {
  margin: 0;
  font-size: 1;
  position: absolute;
  top: 43px;
  left: 60px;
}

.logo a {
  display: block;
}

.logo img {
  vertical-align: top;
}

/* 멤버 서비스링크 */
.member-service {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size: 0; */ /* -----> li 사이 공백을 지우는 역할을 해줌 */
  text-align: right;
  /* margin-right: -10px; ----> 음수로도 이동이 가능하다 오른쪽으로 당김(성능 이슈있음)*/
  transform: translateX(10px); /* ---> 마지막 마진 라이트 0을 해도 되지만 앵커가 안됨 */
}

.member-service li {
  display: inline-block;
  /* font-size: 1rem; */
  padding: 4px 0; /* ----> 패딩을 a만 주는게 아니라 나눠서 주면 아웃라인 잘림 현상 없이 진행 */
  text-transform: uppercase;
}

.member-service a {
  display: inline-block;
  padding: 6px 10px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 35px;
}

.menu {
  border-top: 2px solid #000;
  height: 47px;
  background: #c15726 /* 대표속성/색상 나오고 그라디언트 적용 */ linear-gradient(to bottom, #F7972A 0%,#FC6914 32%,#FC6914 70%,#F7972A 100%);
  margin: 0;
  padding-left: 230px;
  list-style: none;
  border-radius: 0 0 5px 5px;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
  position: relative;
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  background: #000;
  height: 2px;
}

.menu-button {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0 23px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}

.is-active .sub-menu {
  display: block;
}

.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute; /* 서브 메뉴가 크기를 같지 않게 하기 위해 띄여줌 */
  top: 47px;
  display: none;
  white-space: nowrap; /* 영역에 맞춰 줄바꿈이 이뤄지지 않도록 */
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px 10px;
}

.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:focus {
  outline: none;
}

.sub-menu a:hover, .sub-menu a:focus:hover {
  color: #f00;
}

.sub-menu a:hover::before, .sub-menu a:focus::before /* 키보드 운영시에도 변경되도록 포커스 추가 */ {
  content: "\e800";
}


/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgb(0, 0, 0, 0);
    /* padding: 0; 패딩, 마진(박스를 함께 포함하게됨)으로 가능하지만 리플로우 유발 position도 동일 */
    transform: translate(0,0); /* 있던 자리에서 이동하다보니 스크롤이 생겼기 때문에 생각해야됨 -> 독립적 이동이 필요 */
  }
  100% {
    font-size: 24px;
    color: rgb(0, 0, 0, 1);
    /* padding: 75px 0 0 400px; */
    transform: translate(400px,75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeEffect 2000ms infinite alternate;
}

.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, 
  url(./images/ani_flower_02.png) no-repeat 600px 0;
}

.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px 0, 
  url(./images/ani_flower_04.png) no-repeat 800px 10px;
  animation-delay: 1000ms;
}
   
   /* 애니매이션을 어디에 먹게 할지 선언 */
.visual-text {
  position: relative;
  z-index: 10;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  display: inline-block; /* 독립적 이동이 필요하기 때문에 추가됨 */
}

/* 메인 콘텐츠 */
/* flex를 이용한 메인콘텐츠 배치 */
/* .main {
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px;
} */

/* float을 활용한 메인콘텐츠 배치 */
.main {
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  /* 클리어픽스의 마지막 요소를 블럭으로 만들어주기 */
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* .clearfix {
  clear: both;
} */

/* 슬로건 */
.slogan {
  height: 10vh;
}

/* 푸터 */
.footer {
  height: 10vh;
}